
 
  <!-- start section journal -->
  <div id="journal" class="text-left paddsection">

    <div class="container">
      <div class="section-title text-center">
          <br><br>
        <h2>🦁 DONGDUK X LIKELION 🦁 </h2>
      </div>
    </div>

    <div class="container">
        <table class="table table-hover">
                    
                    <tbody>
                     <% @boards.each do |x| %>
                         <tr onClick="location.href='/board/detail/<%=x.id%>'">
                             <td> <%if x.notice == true %> <span class="label label-danger">공지</span> <%end%> </td>
                             <td> <%= x.title %></td>
                             <td><%= (x.created_at + 32400).strftime("%F")%></td>
                         </tr>
                     <%end%>
                   </tbody>
                 </table>
    
    </div>

  </div>
