
  <!-- start section journal -->
  <div id="journal" class="text-left paddsection">

    <div class="container">
      <div class="section-title text-center">
          <br><br>
        <h2>🦁 DONGDUK X LIKELION 🦁 </h2>
      </div>
    </div>

    <div class="container">
        
        <table class="table">
     <tbody>
      <tr>
        <td><%if @board.notice == true %> <span class="label label-danger">공지</span> <%end%><%=@board.title%></td>
      </tr>
    
   
      <tr>
          
        <td>
            <% if @board.id == 1%>
<img src="/images/OT1.jpeg" width="700px"><br>
<img src="/images/OT2.jpeg" width="700px"><br>
<%end%>

<%=@board.content%>
        </td>
       
      </tr>
      
    </tbody>
  </table>
        
        
        
        
        
        
        
        
        
        
        
        
        
<br>


    
    </div>

  </div>